<!DOCTYPE html>
{% extends "base.html" %}
   {% block title %}
        Auction-site
   {% endblock title %}
{% load static %}         
   {% block content %}
    <div class="filter_box">
        <select id="filter" name="filter">
            <option value="all">All</option>
            <option value="category1">Category 1</option>
            <option value="category2">Category 2</option>
            <option value="category3">Category 3</option>
        </select>
        <select id="filter" name="filter">
            <option value="all">All</option>
            <option value="category1">Category 1</option>
            <option value="category2">Category 2</option>
            <option value="category3">Category 3</option>
        </select>
        <select id="filter" name="filter">
            <option value="all">All</option>
            <option value="category1">Category 1</option>
            <option value="category2">Category 2</option>
            <option value="category3">Category 3</option>
        </select>
        <select id="filter" name="filter">
            <option value="all">All</option>
            <option value="category1">Category 1</option>
            <option value="category2">Category 2</option>
            <option value="category3">Category 3</option>
        </select>
        <input type="reset">
    </div>
    <div class="product_results">
        {% for dt in data%}
        <a href="#">
            <div class="product">
                <img src={% static "logo/logo.png" %}>
                <h3>price</h3>
            </div>
        </a>
        {% endfor %}
    </div>
    {% endblock content %}
</body>    