{% extends "base.html" %}
   {% block title %}
        Auction-site
   {% endblock title %}
{% load static %}         
   {% block content %}
    <div class="auction_main">
        <h1>Product ID:</h1>
        <h3>{{product_id}}</h3>
    </div>
    <div class="product_center">
        <div class="product_details" id="product_details">
            <img src={% static "logo/logo.png" %}>
        </div>
    </div>
    <div class="product_user_details">
        <div class="product_user_name_details">
            <h1>User_name</h1>
            <a href="#"><h3>d{{user_name}}</h3></a>
        </div>
        <button type="button" class="info_button">Description</button>
    </div>
    <div class="bid_box">
        <div class="current_bid_details">
            <div class="bid_details">
                <h3>Baseprice</h3>
                <h4>{{base_price}}</h4>
            </div>
            <div class="current_bid">
                <h3>Current_bid</h3>
                <h4>{{current_bid}}</h4>
            </div>
        </div>
        <div class="new_bid">
            <h2 id="baseprice">{{current_bid}}+</h2><input type="text" id="enter_amount" name="amount" placeholder="Your Bid"><h2 id="new_amount">={{current_bid}}</h2><button type="button" class="bid_button">Bid</button>
        </div>
    </div>
    <div class="auction_activity">
        <h1>Activity</h1>
        {% for data in activity %}
            <div class="user_bid_activity">
                <a href="#"><h3>{{data.user_name}}</h3></a>
                <h4>{{data.price}}</h4>
            </div>
        {% endfor %}
    </div>
    {% endblock content %}
</body>
</html>