{% extends "base.html" %}
   {% block title %}
        Auction-site
   {% endblock title %}

{% load static %} 

    {% block js %}
        <script src={% static "js/description.js" %}></script>
        <script src={% static "js/index.js" %}></script>
    {% endblock js %}

   {% block content %}
    <div class="auction_main">
        <h1>Product ID:</h1>
        <h3>{{data.product_id}}</h3>
    </div>
    <div class="product_center">
        <div class="product_details" id="product_details">
            <img src='/media/{{image.product_images}}'>
        </div>
    </div>
    <div class="product_user_details">
        <div class="product_user_name_details">
            <h1>User_name</h1>
            <a href="/user/{{data.user_name}}"><h3>{{data.user_name}}</h3></a>
        </div>
        <button class="info_button" id="description" onclick="show()">Description</button>
        <div id="descriptionpop">
            <div class="modal-content">
              <span class="close" onclick="hide()">&times;</span>
              <h2>{{data.product_description}}</h2>
            </div>
        </div>
    </div>
    <div class="bid_box">
        <div class="current_bid_details">
            <div class="bid_details">
                <h3>Baseprice</h3>
                <h4>{{data.product_price}}</h4>
            </div>
            <div class="current_bid">
                <h3>Current_bid</h3>
                <h4 id="baseprice">{{data.current_bid}}</h4>
            </div>
        </div>
        <div class="new_bid">
            {% csrf_token %}
            <h2 id="baseprice1">{{data.current_bid}}</h2>
            <h2>+</h2>
            <input type="number" id="enter_amount" name="amount" placeholder="Your Bid">
            <h2 id="new_amount"> = {{data.current_bid}}</h2>
            <input type="submit" class="bid_button" id="new_amount_button" value="Bid Now">
        </div>
    </div>
    <div class="auction_activity">
        <h1>Activity</h1>
        <div id="userBidActivity">
        </div>
    </div>
    <script>
        function updateNewAmount() {
            let enteredAmount = parseInt(document.getElementById('enter_amount').value);
            if (isNaN(enteredAmount) || enteredAmount < 0) {
                enteredAmount = 0;
              }
            let current = document.getElementById('baseprice1');
            let current_bid = parseInt(current.textContent);
            const newAmount = current_bid + enteredAmount;
            document.getElementById('new_amount').textContent = '= ' + newAmount;
            return newAmount;
        }
        document.getElementById('enter_amount').addEventListener('input', updateNewAmount);
        
        function new_bid() {
            var csrf_token = '{{ csrf_token }}';
            const data = {
                new_amount : updateNewAmount(),
                product_id : '{{data.product_id}}',
            };
            let current = document.getElementById('baseprice1');
            let current_bid = current.textContent;
            console.log(current_bid);
            if (data.new_amount > current_bid) {
             fetch('bid/', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                  'X-CSRFToken': csrf_token,
                },
                body: JSON.stringify(data)
              }).then(response => {
                if (response.redirected) {
                    window.location.href = response.url;
                } else {
                    current.textContent = data.new_amount;
                    fetchData('{{data.product_id}}');
                    document.getElementById('enter_amount').value = '';
                }
              });
            }else{
            console.log("no amount change");
           }
        };
        document.getElementById('new_amount_button').addEventListener('click', new_bid);
    </script>
    <script>
        fetchData('{{data.product_id}}');
    </script>
    {% endblock content %}
