{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}
           {% endblock title %}
    </title>
    <link rel="icon" href={% static "logo/icon.jpg" %}>
    <link rel="stylesheet" href={% static "styles.css" %}>
    <script src={% static "js/description.js" %}></script>
</head>
<body>
    <header>
        <a href="/">
            <div class="logo">
                <img src= {% static "logo/logo.png" %} alt="Auction Logo">
            </div>
        </a>    
        {%block user %}
        
        {% endblock user %}
    </header>
    {% block content %}
    
    {% endblock content %}
</body>