{% extends "base.html" %}
   {% block title %}
        Auction-site
   {% endblock title %}
{% load static %}     
    {% block user %}
        <div class="user_image_logo">
            <img src='/media/{{user.image}}'>
            <h2>{{user.full_name}}</h2>
        </div>
    {% endblock user %}  

    {% block content %}
        <div class="main">
            <ul>
                <a href="/"><li>Home</li></a><br>
                <a href=""><li>My Products</li></a>
            </ul>
        </div>
    {% endblock content %} 
</body>
</html>