{% extends "base.html" %}
   {% block title %}
        Auction-site
   {% endblock title %}
        
    {% block user %}
        <div class="user_image_logo">
            <img src="https://avatars.githubusercontent.com/u/67720912?v=4">
            <h2>DINESHREDDY</h2>
        </div>
    {% endblock user %}  

    {% block content %}
        <div class="main">
            <ul>
                <a href="/"><li>Home</li></a><br>
                <a href=""><li>My Products</li></a>
            </ul>
        </div>
    {% endblock content %} 
</body>
</html>